<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Akshay | Resource Tracker App</title>
  <link rel="stylesheet" href="landing.component.scss" />
</head>
<body>

  <div class="form">
    <h1 class="title">Welcome!</h1>
    <p class="subtitle">Let me introduce myself and the application I have built.</p>

    <div style="margin-top: 40px;">
      <h2 class="subtitle">👨‍💻 About Me</h2>
      <ul class="A">
        <li class="Hi">My name is <strong>Akshay Ku Bothra</strong>.</li>
        <li class="Hi">I am a <strong>Trainee Engineer</strong> at <strong>Cambridge Technology</strong>.</li>
        <li class="Hi">For any <strong>Queries</strong>.</li>
        <li class="Hi">Contact information:<strong>+91-9521232972</strong></li>
        <li class="Hi">Email: <strong>abothra&#64;ctepl.com</strong></li>
      </ul>
    </div>

    <div style="margin-top: 50px;">
      <h2 class="subtitle">🛠️ About the Application</h2>
      <ul class="A">
        <li class="Hi">The application is a <strong>Resource Tracker</strong>.</li>
        <li class="Hi">It helps keep track of a company's <strong>employee resources</strong>.</li>
        <li class="Hi">Stores and manages <strong>current employee information</strong>.</li>
        <li class="Hi">Tracks the <strong>projects</strong> employees are working on.</li>
        <li class="Hi">Helps the <strong>management</strong> make better task assignments and improve resource utilization.</li>
      </ul>
    </div>

    <button class="submit" routerLink="/dashboard">Explore Application</button>
  </div>

</body>
</html>
